.forecast {
    background-color: #EDEDED;
    text-align: center;
}

.temp {
    color: white;
    background-color: #F6BF26;
}

.max {
    color: white;
    background-color: #34A853;
}

.min {
    color: white;
    background-color: #E23237;
}