/* Application-wide Styles */
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Roboto, Helvetica, sans-serif;
}

.header {
  margin-bottom: 10px;
}

.header img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header .header-calendar-component {
  position: absolute;
  top: 10px;
  right: 10px;
}
