/* Application-wide Styles */
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
/* everywhere else */
* {
  font-family: Roboto, Helvetica, sans-serif;
}
