.weather-info {
  position: absolute;
  text-align: center;
  background-color: rgba(0,0,0,.6);
  color: white;
  z-index: 100;
  width: calc(100% - 16px);
}

.weather-icon {
  font-size: 50px;
  margin: 10px;
}

.thermometer-icon {
  margin: 5px;
}
